.App {
  text-align: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.favoriteNames > h2 {
  margin: 0;
  margin-right: 2rem;
  align-self: center;
}

.names,
.favoriteNames {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 1rem;
  background-color: rgb(188, 217, 226);
}

.m,
.f,
.mf {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

.m {
  background-color: rgb(216, 74, 74);
}

.f {
  background-color: rgb(78, 167, 78);
}

.selected {
  box-shadow: 2px 5px 3px #888888;
}
